  button:focus {outline:0;}

  .navbar{
    margin-bottom: 0;
    border: none;
  }

  .navbar-nav {
    width: 100%;
    text-align: center;
  }

  .navbar-nav  > li {
      float: none;
      display: inline-block;
  }

  .localBottom{
      font-size: 70px;
  }

  .localBottom > li{
      margin: 2% 7%;
  }

  .itemBottomIcon{
      font-size: 70px;
      padding: 8% 5%;
      color: #747474;
  }

  input{
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: none;
  }

  ul.ui-autocomplete {
    background-color: #ffffff;
  }

  li.ui-menu-item{
      font-size:30px;
  }

  .container{
      width: 100%;
      padding: 0;
      margin: 0;
  }

  .card {
    position: relative;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none;
    border-radius: 10px;
    padding-bottom: 3px;
      float: left;
    font: 30px/1 Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif;

  }
  .card-body{
      padding: 0 15px;

  }

  .cart-card-body{
      padding: 0 15px;
      width: calc(100% - 315px);

  }

  .itemCard{
     width: 46%;
     margin: 3% 2%;

  }

  .cartImage{
      margin: 2% 5%;
      width: 300px;
      height: 300px;

  }

  .cartCard{
      margin: 5% 0 0 0;
      width: 100%;
      border-radius: 20px;
  }
  .searchCard{
      margin: 1% 0 0 0;
      width: 100%;
      border-radius: 20px;
  }
  .card-title{
      font: 40px/1 Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif;
  }
  .card-price{
      color: coral;
      font-size: 40px;
      padding-top: 150px;
  }

  #cardsWrap{
      padding-bottom: 20%;
  }

  .card-text{
      font: 30px/1 Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif;
      color: #555555;
  }
  .card-text-price{
      font: 50px/1 Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif;
      color: coral;
  }

  .card-body{
      margin: 2% 0;
  }

  .card-img-top{
      width: 100%;
  }

    body {
      background-color: #EEEEEE;
    }

  .divButton{
      width: 20%;
      height: 25%;
      text-align: center;
      color: #555555;
      font: 25px/1 Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif;
      float: left;
      margin: 0 2.5%;
  }

  .divButton > img{
      clip-path: circle(45% at 50% 50%);
      margin-bottom: 5%;
  }

  .fiveButton{
      width: 15%;
      height: 25%;
      text-align: center;
      color: #555555;
      font: 25px/1 Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif;
      float: left;
      margin: 0 2.5%;
  }

  .cartTitle{
      color: white;
      font: 60px/1 Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif;
      float: left;
      margin: 5%;
  }

  .cartManage{
      color:white; font-size: 50px; float: right; margin:5%;
  }

  .card-horizontal {
    display: flex;
    flex: 1 1 auto;
  }

  .checkoutBotton{

      background-color: coral;
      border-radius: 50px;
      border: none;
      color: white;
      margin: 2% 5%;
      padding: 3% 5%;
      font: 50px/1 Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif;

  }

  .cartTotal{
      font: 40px/1 Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif;
      color: coral;
  }

  .cartTotal2{
      font: 40px/1 Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif;
      color: black;
  }

  .itemTitle{
      font: 40px/1 Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif;
      font-weight: bold;
      color: black;
  }

  .itemPrice{
      font: 60px/1 Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif;
      color: coral;
  }
  .itemSaleAmount{
      font: 30px/1 Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif;
      color: #989898;
      float: right;
  }

  .itemSelection{
      font: 40px/1 Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif;
      color: black;
      padding: 2%;
      margin: 2% 3%;
      border-radius: 45px;
  }
  .itemSelection:focus{
      background-color: lightgoldenrodyellow;
  }

  .userLevel{
      font: 30px/1 Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif;
      color: white;
      float: right;
  }

  .userGreeting{
      color: white;
      font: 60px/1 Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif;
      float: left;
      margin: 5% 0;

  }

  .fiveTabs{
      width: 20%;
      height: 25%;
      text-align: center;
      color: #555555;
      font: 35px/1 Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif;
      float: left;
      padding: 2% 1%;

  }

  /* active tab color */
  .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
      background-color: #EEEEEE;
      border: none;
      border-bottom: solid;

  }

.addToCartNoticeWrapper {

  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  /* this is what centers your element in the fixed wrapper*/
  display: flex;
  flex-flow: column nowrap;
  justify-content: center; /* aligns on vertical for column */
  align-items: center; /* aligns on horizontal for column */


}

.addToCartNotice {
  padding: 2% 5%;
  text-align: center;

  /* Just for styling */
  background-color: rgba(83,83,83,0.8);
  border: none;
  font: 40px/1 Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif;
}

  .addToCart{
      background-color: orange;
      border-radius: 60px  0  0 60px;
      border: none;
      color: white;
      margin: 2% -10px 2% 0;
      padding: 5% 10%;
      font: 40px/1 Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif;
      z-index: 5;

  }

  .purchaseNow{
      background-color: coral;
      border-radius:  0 60px 60px 0;
      border: none;
      color: white;
      margin: 2% 0  2% -10px;
      padding: 5% 10%;
      font: 40px/1 Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif;

  }

  .detailImg{
      width: 100%;
  }

  .cartQuantityInput{
      text-align: center;
      font: 30px/1 Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif;
  }

  .cartPlusMinusButtonWrap{
      float: right;
      margin-top: 15%;
      padding: 0;
  }

  .cartPriceTag{
      color: coral;
      font: 40px/1 Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif;
      margin-top: 15%
  }

  .glyphicon {
    font-size: 20px;
  }

  .btn-number{
      top:0;
      bottom: 0;
      padding-top: 20px;
      padding-bottom: 20px;
  }