  <div class="row card cartCard">
            <div class="card-horizontal">
                <img class="cartImage" src="http://via.placeholder.com/300x300" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Aptamil 爱他美白金版婴幼儿奶粉4段 900g</h4>
                    <p class="card-text"> 规格： 三罐 包邮</p>
                    <div class="col-sm-3" style="float: right; margin-top: 15%; padding: 0;">
                        <div class="input-group">
                            <span class="input-group-btn"><button type="button" class="btn btn-default btn-number"
                                                                  disabled="disabled" data-type="minus"
                                                                  data-field="quant[1]"><span
                                    class="glyphicon glyphicon-minus"></span></button></span>
                            <input type="text" style="text-align: center; font-size: 30px;" name="quant[1]"
                                   class="form-control input-number" value="1" min="1" max="10">
                            <span class="input-group-btn"><button type="button" class="btn btn-default btn-number"
                                                                  data-type="plus" data-field="quant[1]"><span
                                    class="glyphicon glyphicon-plus"></span></button></span>
                        </div>
                    </div>
                    <h2 style="color: coral; font-size: 40px; margin-top: 15%"> $105 </h2>

                </div>
            </div>
        </div>
        <div class="row card cartCard">
            <div class="card-horizontal">
                <img class="cartImage" src="http://via.placeholder.com/300x300" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Aptamil 爱他美白金版婴幼儿奶粉4段 900g</h4>
                    <p class="card-text"> 规格： 三罐 包邮</p>
                    <div class="col-sm-3" style="float: right; margin-top: 15%; padding: 0;">
                        <div class="input-group">
                            <span class="input-group-btn"><button type="button" class="btn btn-default btn-number"
                                                                  disabled="disabled" data-type="minus"
                                                                  data-field="quant[1]"><span
                                    class="glyphicon glyphicon-minus"></span></button></span>
                            <input type="text" style="text-align: center; font-size: 30px;" name="quant[1]"
                                   class="form-control input-number" value="1" min="1" max="10">
                            <span class="input-group-btn"><button type="button" class="btn btn-default btn-number"
                                                                  data-type="plus" data-field="quant[1]"><span
                                    class="glyphicon glyphicon-plus"></span></button></span>
                        </div>
                    </div>
                    <h2 style="color: coral; font-size: 40px; margin-top: 15%"> $105 </h2>

                </div>
            </div>
        </div>
        <div class="row card cartCard">
            <div class="card-horizontal">
                <img class="cartImage" src="http://via.placeholder.com/300x300" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">儿奶粉4段 900g</h4>
                    <p class="card-text"> 规格：三罐包邮</p>
                    <div class="col-sm-3" style="float: right; margin-top: 15%; padding: 0;">
                        <div class="input-group">
                            <span class="input-group-btn"><button type="button" class="btn btn-default btn-number"
                                                                  disabled="disabled" data-type="minus"
                                                                  data-field="quant[2]"><span
                                    class="glyphicon glyphicon-minus"></span></button></span>
                            <input type="text" style="text-align: center; font-size: 30px;" name="quant[2]"
                                   class="form-control input-number" value="1" min="1" max="10">
                            <span class="input-group-btn"><button type="button" class="btn btn-default btn-number"
                                                                  data-type="plus" data-field="quant[2]"><span
                                    class="glyphicon glyphicon-plus"></span></button></span>
                        </div>
                    </div>
                    <h2 style="color: coral; font-size: 40px; margin-top: 15%"> $105 </h2>

                </div>
            </div>
        </div>
