<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>我的购物车</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-Bx4pytHkyTDy3aJKjGkGoHPt3tvv6zlwwjc3iqN7ktaiEMLDPqLSZYts2OjKcBx1" crossorigin="anonymous">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/static/js/plusMinusBotton.js"></script>

</head>
<body>

<!-- top bar -->

<nav class="navbar justify-content-between" style="background-color: coral">
    <a class="navbar-brand cartTitle"> 购物车 </a>
    <a class="cartManage"> 管理 </a>

</nav>

<div class="container" style="padding: 0; padding-bottom: 20%; margin: 0;">
    <div class="container-fluid">
        <div class="row card cartCard">
            <div class="card-horizontal">
                <img class="cartImage" src="http://via.placeholder.com/300x300" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Aptamil 爱他美白金版婴幼儿奶粉4段 900g</h4>
                    <p class="card-text"> 规格： 三罐 包邮</p>
                    <div class="col-sm-3" style="float: right; margin-top: 15%; padding: 0;">
                        <div class="input-group">
                            <span class="input-group-btn"><button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="quant[1]"><span class="glyphicon glyphicon-minus"></span></button></span>
                            <input type="text" style="text-align: center; font-size: 30px;" name="quant[1]" class="form-control input-number" value="1" min="1" max="10">
                            <span class="input-group-btn"><button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]"><span class="glyphicon glyphicon-plus"></span></button></span>
                        </div>
                    </div>
                    <h2 style="color: coral; font-size: 40px; margin-top: 15%"> $105 </h2>

                 </div>
            </div>
        </div>
        <div class="row card cartCard">
            <div class="card-horizontal">
                <img class="cartImage" src="http://via.placeholder.com/300x300" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Aptamil 爱他美白金版婴幼儿奶粉4段 900g</h4>
                    <p class="card-text"> 规格： 三罐 包邮</p>
                    <div class="col-sm-3" style="float: right; margin-top: 15%; padding: 0;">
                        <div class="input-group">
                            <span class="input-group-btn"><button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="quant[1]"><span class="glyphicon glyphicon-minus"></span></button></span>
                            <input type="text" style="text-align: center; font-size: 30px;" name="quant[1]" class="form-control input-number" value="1" min="1" max="10">
                            <span class="input-group-btn"><button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]"><span class="glyphicon glyphicon-plus"></span></button></span>
                        </div>
                    </div>
                    <h2 style="color: coral; font-size: 40px; margin-top: 15%"> $105 </h2>

                 </div>
            </div>
        </div>
        <div class="row card cartCard">
            <div class="card-horizontal">
                <img class="cartImage" src="http://via.placeholder.com/300x300" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Aptamil 爱他美白金版婴幼儿奶粉4段 900g</h4>
                    <p class="card-text"> 规格： 三罐 包邮</p>
                    <div class="col-sm-3" style="float: right; margin-top: 15%; padding: 0;">
                        <div class="input-group">
                            <span class="input-group-btn"><button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="quant[1]"><span class="glyphicon glyphicon-minus"></span></button></span>
                            <input type="text" style="text-align: center; font-size: 30px;" name="quant[1]" class="form-control input-number" value="1" min="1" max="10">
                            <span class="input-group-btn"><button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]"><span class="glyphicon glyphicon-plus"></span></button></span>
                        </div>
                    </div>
                    <h2 style="color: coral; font-size: 40px; margin-top: 15%"> $105 </h2>

                 </div>
            </div>
        </div>
        <div class="row card cartCard">
            <div class="card-horizontal">
                <img class="cartImage" src="http://via.placeholder.com/300x300" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Aptamil 爱他美白金版婴幼儿奶粉4段 900g</h4>
                    <p class="card-text"> 规格： 三罐 包邮</p>
                    <div class="col-sm-3" style="float: right; margin-top: 15%; padding: 0;">
                        <div class="input-group">
                            <span class="input-group-btn"><button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="quant[1]"><span class="glyphicon glyphicon-minus"></span></button></span>
                            <input type="text" style="text-align: center; font-size: 30px;" name="quant[1]" class="form-control input-number" value="1" min="1" max="10">
                            <span class="input-group-btn"><button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]"><span class="glyphicon glyphicon-plus"></span></button></span>
                        </div>
                    </div>
                    <h2 style="color: coral; font-size: 40px; margin-top: 15%"> $105 </h2>

                 </div>
            </div>
        </div>
        <div class="row card cartCard">
            <div class="card-horizontal">
                <img class="cartImage" src="http://via.placeholder.com/300x300" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Aptamil 爱他美白金版婴幼儿奶粉4段 900g</h4>
                    <p class="card-text"> 规格： 三罐 包邮</p>
                    <div class="col-sm-3" style="float: right; margin-top: 15%; padding: 0;">
                        <div class="input-group">
                            <span class="input-group-btn"><button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="quant[1]"><span class="glyphicon glyphicon-minus"></span></button></span>
                            <input type="text" style="text-align: center; font-size: 30px;" name="quant[1]" class="form-control input-number" value="1" min="1" max="10">
                            <span class="input-group-btn"><button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]"><span class="glyphicon glyphicon-plus"></span></button></span>
                        </div>
                    </div>
                    <h2 style="color: coral; font-size: 40px; margin-top: 15%"> $105 </h2>

                 </div>
            </div>
        </div>

    </div>
</div>


<!-- bottom bar -->
<nav class="navbar navbar-default navbar-fixed-bottom" style="background-color: white; text-align: right;" role="navigation">
    <i class="cartTotal2">合计：</i><i class="cartTotal"> $2333</i>
    <button class="checkoutBotton">结算(5)</button>
    <hr>
    <div class="container-fluid">
        <ul class="nav navbar-nav localBottom">
            <li class="active"><i class="fal fa-home"></i></li>
            <li><i class="fal fa-comment-dots"></i></li>
            <li><i class="fal fa-shopping-cart"></i></li>
            <li><i class="fal fa-user"> </i></li>
        </ul>
    </div>
</nav>


<script>
$('.btn-number').click(function(e){
    e.preventDefault();

    fieldName = $(this).attr('data-field');
    type      = $(this).attr('data-type');
    var input = $("input[name='"+fieldName+"']");
    var currentVal = parseInt(input.val());
    if (!isNaN(currentVal)) {
        if(type == 'minus') {

            if(currentVal > input.attr('min')) {
                input.val(currentVal - 1).change();
            }
            if(parseInt(input.val()) == input.attr('min')) {
                $(this).attr('disabled', true);
            }

        } else if(type == 'plus') {

            if(currentVal < input.attr('max')) {
                input.val(currentVal + 1).change();
            }
            if(parseInt(input.val()) == input.attr('max')) {
                $(this).attr('disabled', true);
            }

        }
    } else {
        input.val(0);
    }
});
$('.input-number').focusin(function(){
   $(this).data('oldValue', $(this).val());
});
$('.input-number').change(function() {

    minValue =  parseInt($(this).attr('min'));
    maxValue =  parseInt($(this).attr('max'));
    valueCurrent = parseInt($(this).val());

    name = $(this).attr('name');
    if(valueCurrent >= minValue) {
        $(".btn-number[data-type='minus'][data-field='"+name+"']").removeAttr('disabled')
    } else {
        alert('Sorry, the minimum value was reached');
        $(this).val($(this).data('oldValue'));
    }
    if(valueCurrent <= maxValue) {
        $(".btn-number[data-type='plus'][data-field='"+name+"']").removeAttr('disabled')
    } else {
        alert('Sorry, the maximum value was reached');
        $(this).val($(this).data('oldValue'));
    }


});
$(".input-number").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
             // Allow: Ctrl+A
            (e.keyCode == 65 && e.ctrlKey === true) ||
             // Allow: home, end, left, right
            (e.keyCode >= 35 && e.keyCode <= 39)) {
                 // let it happen, don't do anything
                 return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });
</script>
</body>

</html>