<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>消息</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="/static/chat.css">

    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"> -->
    <link href="/static/fontawesome-pro-5.8.1-web/css/all.css" rel="stylesheet">
    <!--load all styles -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>

<!-- top bar -->
<nav class="navbar justify-content-between" style="background-color: coral">
    <a onclick="toHome()" class="navbar-brand cartTitle"> <i class="far fa-chevron-left"></i> </a>
    <p class="cartTitle"> 澳洲制造客服 </p>
</nav>


<div class="mesgs" style="padding-bottom: 20%;" id="total_info">
	  <div class="msg_history" id="chat_info">

      </div>
</div>

<input id="user_id" value="{{ user }}" style="display: none">

<audio id="not" style="display: none" preload="auto">
    <source src="../static/classic.mp3" type="audio/mpeg">
</audio>

<div class="navbar-fixed-bottom" style="background-color: coral;width:100%;  text-align: center;">
    <input style=" font-size: 40px; width: 80%; padding: 2% 0; margin: 4% 0;" id="user_input">
    <i style="color:white; font-size: 70px; margin: 4% 0; margin-right: 5%;   float: right" class="far fa-paper-plane"  id="send_btn"></i>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<script src="../static/notify.js"></script>

    <script>

        var image_base64 = "";
        var msg_num = 0;
        var id = Math.random().toString(36).substring(7);
        var socket = io.connect('http://' + document.domain + ':' + '5000');
        var input = $("#user_input");
        socket.on(id, function( msg ) {
            var info = unescape(msg.user_message);
            var img_64 = unescape(msg.user_image);
            var dt = new Date();
            var time = dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();
            var user_chat = $("#chat_info");

            notifyMe(info);

            if (msg_num === 0) {
                $(user_chat).append("<div class=\"container\" style=\"width: 100%;text-align: center; margin: 2% 0;\">\n" +
                    "            <span class=\"time_date\"> " + time + "</span>\n" +
                    "        </div>");
            }

            if (info !== "") {
                $(user_chat).append("<div class=\"incoming_msg\">\n" +
                    "\t\t  <div class=\"incoming_msg_img\"> <img src=\"/static/img/pink.png\" alt=\"sunil\"> </div>\n" +
                    "\t\t  <div class=\"received_msg\">\n" +
                    "\t\t\t<div class=\"received_withd_msg\">\n" +
                    "\t\t\t  <p>" + info + "</p>\n" +
                    "\t\t    </div>\n" +
                    "\t\t  </div>\n" +
                    "\t    </div>");
            }

            /** handle image
            if (img_64 !== "") {
                if (img_64.indexOf("video") >= 0) {
                    $(user_chat).append("<div class=\"bubble you\">" +
                        "<video width=\"350px\" height=\"320px\" " +
                        "x-webkit-airplay=\"true\" webkit-playsinline=\"true\" " +
                        "onclick=\"view_play(this)\" src=\"" + img_64 + "\">" + "</video></div>");
                } else {
                    $(user_chat).append("<div class=\"bubble you\">" +
                        "<img width=\"350px\" height=\"320px\" src=\"" +
                        img_64 + "\">" + "</div>");
                }
            }
             */

            if (msg_num !== 5) {
                msg_num += 1;
            } else {
                msg_num = 0;
            }

            $('html,body').animate({ scrollTop: $(document).height() }, 0);
        });


        window.onkeydown = function(event){
            if(event.keyCode === 13){
                if(input.val() !== "" || image_base64 !== ""){
                    send_msg(input.val());
                }
            }
        };

        $("#send_btn").click(function () {
            if (input.val() !== "" || image_base64 !== "") {
                send_msg(input.val());
            }
        });


        function send_msg(message) {
            var user_chat = $("#chat_info");
            var dt = new Date();
            var time = dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();


            socket.emit('user post', {
               user_message: escape(message),
               user_image: escape(image_base64),
               user_id: id
            });

            if (msg_num === 0) {
                $(user_chat).append("<div class=\"container\" style=\"width: 100%;text-align: center; margin: 2% 0;\">\n" +
                    "            <span class=\"time_date\"> " + time + "</span>\n" +
                    "        </div>");
            }

            if (message !== "") {
                $(user_chat).append("<div class=\"outgoing_msg\">\n" +
                    "\t\t  <div class=\"sent_msg\">\n" +
                    "\t\t\t<p>" + message + "</p>\n" +
                    "          </div>\n" +
                    "        </div>");
            }

            /* TODO handle image
            if (image_base64 !== "") {
                if (image_base64.indexOf("video") >= 0) {
                    $(user_chat).append("<div class=\"bubble me\">" +
                        "<video width=\"350px;\" x-webkit-airplay=\"true\" " +
                        "webkit-playsinline=\"true\" height=\"320px;\" " +
                        "onclick=\"view_play(this)\" src=\"" + image_base64 + "\">" +
                        "</video></div>");
                } else {
                    $(user_chat).append("<div class=\"bubble me\">" +
                        "<img width=\"350px;\" height=\"320px;\" src=\"" + image_base64 + "\">" +
                        "</div>");
                }
            }
            */

            if (msg_num !== 5) {
                msg_num += 1;
            } else {
                msg_num = 0;
            }

            $('html,body').animate({ scrollTop: $(document).height() }, 0);

            image_base64 = "";
            input.val('').focus();
        }



        // set onclick of attachment
        /* TODO functions about handle image
        $("#attach").click(function () {
            $("#img").click();
        });

        // generate the base64 for image
        function encodeImageToBase64(element) {
            var acceptedImageTypes = ['image/gif', 'image/jpeg', 'image/png','video/mp4'];

            var file = element.files[0];
            var reader = new FileReader();

            if (acceptedImageTypes.indexOf(file.type) === -1) {
                image_base64 = "";
                return;
            }

            reader.onloadend = function() {
                image_base64 = reader.result;
            };
            reader.readAsDataURL(file);

        }
        */
        $(window).unload(function(){
            socket.emit('leave', {
               user_id: id
            });
        });


        /*
        function view_play(element) {
            if(element.paused){
                element.play();
            }else{
                element.pause();
            }
        }
         */


        // TODO make notify
        var showNotification =false;

        $(function(){
            //只在当前页面失去焦点时提示消息
            window.onblur = function () {
                showNotification = true;
            };
            window.onfocus = function () {
                showNotification = false;
        }});

        //消息提醒
        function check() {
            // Let's check if the browser supports notifications
            if (!("Notification" in window)) {
                //alert("This browser does not support desktop notification");
                return false;
            }
            if (Notification.permission !== "granted") {
                Notification.requestPermission(function (permission) {
                    // Whatever the user answers, we make sure we store the information
                    if (!('permission' in Notification)) {
                        Notification.permission = permission;
                    }
                });
                return false;
            }
            return showNotification;
        }

        function notifyMe(receiveMessage) {
            if (check()) {
                var notification = new Notification('You get a new message', {
                    //body: "Hey there! You've been notified!",
                    body:receiveMessage
                });

                notification.onshow = function () {
                    $("#not")[0].play();
                };

                notification.onclick = function () {
                    window.focus();
                };

                setTimeout(notification.close.bind(notification), 5000);//auto clear notifications
            }
        }

    </script>
    <script>
        function toHome() {
                url = "/";
                window.location.assign(url);
        }

        function toChat() {
                url = "/chat";
                window.location.assign(url);
        }

        function toCart() {
                url = "/cart";
                window.location.assign(url);
        }

        function toUser() {
                url = "/user";
                window.location.assign(url);
        }
    </script>
</body>

</html>