<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>消息</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="/static/chat.css">

    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"> -->
    <link href="/static/fontawesome-pro-5.8.1-web/css/all.css" rel="stylesheet">
    <!--load all styles -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>

<!-- top bar -->
<nav class="navbar justify-content-between" style="background-color: coral">
    <a class="navbar-brand cartTitle"> <i class="far fa-chevron-left"></i> </a>
    <p class="cartTitle"> 澳洲制造客服 </p>
</nav>


<div class="mesgs" style="padding-bottom: 20%;">
	  <div class="msg_history">

        <div class="container" style="width: 100%;text-align: center; margin: 2% 0;">
            <span class="time_date"> 今天 14：10</span>
        </div>

		<div class="outgoing_msg">
		  <div class="sent_msg">
			<p>您好，A2奶粉什么时候有货啊</p>
          </div>
        </div>

        <div class="container" style="width: 100%;text-align: center; margin: 2% 0;">
            <span class="time_date"> 今天 14：20</span>
        </div>

		<div class="incoming_msg">
		  <div class="incoming_msg_img"> <img src="/static/img/pink.png" alt="sunil"> </div>
		  <div class="received_msg">
			<div class="received_withd_msg">
			  <p>亲亲，在的</p>
		    </div>
		  </div>
        </div>

        <div class="incoming_msg">
		  <div class="incoming_msg_img"> <img src="/static/img/pink.png" alt="sunil"> </div>
		  <div class="received_msg">
			<div class="received_withd_msg">
			  <p>至少要下周一了呢亲</p>
		  </div>
		</div>

        <div class="container" style="width: 100%;text-align: center; margin: 2% 0;">
            <span class="time_date"> 今天 16：19 </span>
        </div>


		<div class="outgoing_msg">
		  <div class="sent_msg">
			<p>啊这样啊。。好吧，谢谢啦</p>
          </div>
        </div>

		<div class="incoming_msg">
		  <div class="incoming_msg_img"> <img src="/static/img/pink.png" alt="sunil"> </div>
		  <div class="received_msg">
			<div class="received_withd_msg">
			  <p>嗯嗯，不客气的</p>
		    </div>
		  </div>
	    </div>
      </div>


</div>


<div class="navbar-fixed-bottom" style="background-color: coral;width:100%;  text-align: center;">
    <input style=" font-size: 40px; width: 80%; padding: 2% 0; margin: 4% 0; " >
    <i style="color:white; font-size: 70px; margin: 4% 0; margin-right: 5%;   float: right" class="far fa-paper-plane"></i>
</div>



</body>

</html>