<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Expires" content="-1">

    <title>购物商城</title>

    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/dashbosrdStyle.css?v=1asdf22oikajnklanvijpjoiasdfowqsf790">

    <link href="/static/fontawesome-pro-5.8.1-web/css/all.css" rel="stylesheet"> <!--load all styles -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


</head>
<body>
<div class="header">
    <label class="switch" style="z-index: 5; float: left; margin: 15px; margin-left: 32px;">
        <input type="checkbox" onclick="toggleSideBar()" checked>
        <span class="slider round"></span>
    </label>
</div>


<div id="mySidenav" class="sidenav" style="width: 200px;">
    <a data-toggle="tab" class="button tabButton" href="#tab1"><i class="far fa-abacus"></i>    店铺概况</a>
    <a data-toggle="tab" class="button tabButton" href="#tab2"><i class="far fa-store"></i>    店铺管理</a>
    <a data-toggle="tab" class="button tabButton" href="#tab3"><i class="far fa-tags"></i>    商品管理</a>
    <a data-toggle="tab" class="button tabButton" onclick="toggleOrderSubTabs()" href="#tab4"><i class="far fa-shopping-cart"></i>   订单管理</a>
    <a id="subOrder1" data-toggle="tab" class="button subTabButton" style="display: none" href="#">拼团订单</a>
    <a id="subOrder2" data-toggle="tab" class="button subTabButton" style="display: none" href="#">批量发货</a>
    <a id="subOrder3" data-toggle="tab" class="button subTabButton" style="display: none" href="#">订单包裹</a>
    <a data-toggle="tab" class="button tabButton" href="#tab5"><i class="far fa-lightbulb-on"></i>   营销中心</a>
    <a data-toggle="tab" class="button tabButton" href="#tab6"><i class="far fa-users-crown"></i>   用户画像</a>
    <a data-toggle="tab" class="button tabButton" href="#tab7"><i class="far fa-chart-bar"></i>   数据中心</a>
    <a data-toggle="tab" class="button tabButton" href="#tab7"><i class="far fa-swords"></i>   其他功能</a>
    <a data-toggle="tab" class="button tabButton" href="#tab7"><i class="far fa-alipay"></i>   更多选项</a>
    <a data-toggle="tab" class="button tabButton" href="#tab7"><i class="far fa-balance-scale"></i>   收支状况</a>
    <a data-toggle="tab" class="button tabButton" href="#tab7"><i class="far fa-ballot-check"></i>   待办事项</a>
    <a data-toggle="tab" class="button tabButton" href="#tab7"><i class="far fa-clipboard-user"></i>   用户反馈</a>

</div>

<div id="main" style="margin-left: 200px;">
    <div id="tab1" class="tab-pane fade in active">
        <h1>tab1</h1>
    </div>

    <div id="tab2" class="tab-pane fade ">
        <h1>tab2</h1>
    </div>

    <div id="tab3" class="tab-pane fade ">
        <h1>tab3</h1>
    </div>

    <div id="tab4" class="tab-pane fade ">
        <div class="tabBody order-Header">
            <h1 style="font-size: 30px;">订单</h1>
            <a  href="#">详细使用说明</a>
        </div>
        <div class="tabBody">
            <div class="order-filter-shortCuts">
                <a class="active" id="all">全部状态</a> |
                <a id="unpiad">待付款</a> |
                <a id="unsent">待发货</a> |
                <a id="sent">已发货</a> |
                <a id="comment">交易成功</a>
            </div>
        </div>
        <div class="tabBody ">
        </div>
        <div class="tabBody" id="orders">
            <div class="order-body-content row">
              <div class="col-sm-3">产品</div>
              <div class="col-sm-2">售价/成本</div>
              <div class="col-sm-2">合计</div>
              <div class="col-sm-1">状态</div>
              <div class="col-sm-3">收件人</div>
              <div class="col-sm-1">渠道</div>
            </div>
        </div>


    </div>

    <div id="tab5" class="tab-pane fade">
        <h1>tab5</h1>
    </div>

    <div id="tab6" class="tab-pane fade">
        <h1>tab6</h1>
    </div>

    <div id="tab7" class="tab-pane fade">
        <h1>tab7</h1>
    </div>
</div>

<script>
    var unpaid = $("#unpiad");
    var unsent = $("#unsent");
    var sent = $("#sent");
    var comment = $("#comment");
    var all = $("#all");

    all.click(function () {
        removeActive();
        all.addClass("active");
        getAllOrders();
    });

    unpaid.click(function () {
        removeActive();
        unpaid.addClass("active");
        getUnpaid();
    });

    unsent.click(function () {
        removeActive();
        unsent.addClass("active");
        getUnsent();
    });

    sent.click(function () {
        removeActive();
        sent.addClass("active");
        getSent();
    });

    comment.click(function () {
        removeActive();
        comment.addClass("active");
        getComment();
    });

    function removeActive() {
        unpaid.removeClass("active");
        unsent.removeClass("active");
        sent.removeClass("active");
        comment.removeClass("active");
        all.removeClass("active");
    }
    function toTracking(orderId) {
        url = "/tracking/"+orderId;
        window.location.assign(url);
    }

    getAllOrders();

    function getAllOrders() {
        $("#orders").html("<div class=\"order-body-content row\">\n" +
            "              <div class=\"col-sm-3\">产品</div>\n" +
            "              <div class=\"col-sm-2\">售价/成本</div>\n" +
            "              <div class=\"col-sm-2\">合计</div>\n" +
            "              <div class=\"col-sm-1\">状态</div>\n" +
            "              <div class=\"col-sm-3\">收件人</div>\n" +
            "              <div class=\"col-sm-1\">渠道</div>\n" +
            "            </div>\n");
        var url = "/api/get_all_orders";
        $.getJSON(url, function (data) {
            // console.log(data);
            var htmls = "";

            for (var i = 0; i < data.orders.length; i ++) {
                var overallprice = 0;
                for (var y = 2; y < data.orders[i].length; y ++) {
                    var or = data.orders[i][y];
                    overallprice += or.price;
                }
                for (var j = 2; j < data.orders[i].length; j ++) {
                        var orders = data.orders[i][j];
                        var name = orders.item;
                        var order_id = orders.order_id;
                        var order_time = orders.order_time;
                        var phone = orders.phone_number;
                        var price = orders.price;
                        var quantity = orders.quantity;
                        var address = orders.receiver_address;
                        var re_name = orders.receiver_name;
                        var o_status = "";

                        if (orders.status === "unpaid") {
                            o_status = "待付款";
                        } else if (orders.status === "unsent") {
                            o_status = "待发货";
                        } else if (orders.status === "sent") {
                            o_status = "已发货";
                        } else if (orders.status === "uncomment") {
                            o_status = "待评价";
                        } else if (orders.status === "closed") {
                            o_status = "交易结束"
                        }

                        if (j === 2) {
                            htmls += "<div class=\"order-item\">\n" +
                            "                <div class=\"order-body-content row\" style=\"background-color: #f8f8f8\">\n" +
                            "                  <div class=\"col-sm-3\">\n" +
                            "                      <p>订单号：" + order_id +"<button style=\"margin-left: 5px;\" onclick=\"toTracking("+ order_id +")\" >查看物流</button></p>\n" +
                            "                      <p>交易号："+ order_id + "</p>\n" +
                            "                      <p>交易类型： 普通交易 </p>\n" +
                            "                  </div>\n" +
                            "                  <div class=\"col-sm-2\">\n" +
                            "\n" +
                            "                  </div>\n" +
                            "                  <div class=\"col-sm-2\">\n" +
                            "                      <a>"+ "$" + overallprice + "</a>\n" +
                            "                  </div>\n" +
                            "                  <div class=\"col-sm-1\">\n" +
                            "                      <div>" + o_status + "</div>\n" +
                            "                  </div>\n" +
                            "                  <div class=\"col-sm-3\">\n" +
                            "                      <p>下单时间：" + order_time + "</p>\n" +
                            "                  </div>\n" +
                            "                  <div class=\"col-sm-1\">\n" +
                            "\n" +
                            "                  </div>\n" +
                            "                </div>\n";
                        }

                        htmls+= "                <div class=\"order-body-content row\" >\n" +
                        "                  <div class=\"col-sm-1\">\n" +
                        "                    <img style=\"width:70px;height: 70px;\" src=\"/static/img/itemImg/" + name + "/main.jpg" +"\">\n" +
                        "                  </div>\n" +
                        "                  <div class=\"col-sm-2\">\n" +
                        "                    <a>" + name + "</a>\n<br>" + "<a>" + orders.item_price_type + "</a>" +
                        "                  </div>\n" +
                        "                  <div class=\"col-sm-2\">\n" +
                        "                    <p>" + "$" + price +"</p>\n" +
                        "                    <p>"+ quantity +" 件</p>\n" +
                        "                  </div>\n" +
                        "                  <div class=\"col-sm-2\">\n" +
                        "                    <p>价格： " + "$" + price + "</p>\n" +
                        "\n" +
                        "                  </div>\n" +
                        "                  <div class=\"col-sm-1\">\n" +
                        "                      <a> </a>\n" +
                        "                  </div>\n";
                    if (j === 2) {
                        htmls +="                  <div class=\"col-sm-3\">\n" +
                        "                      <img style=\"width: 40px; height: 40px;\" src=\"/static/img/pink.jpg\">\n" +
                        "                      <a>" + re_name +"</a> | <a>所有订单</a><br><br>\n" +
                        "                      <p>" + re_name + " " + phone + "</p>\n" +
                        "                      <p>" + address +"</p>\n" +
                        "                  </div>\n";
                    }
                    htmls += "                  <div class=\"col-sm-1\">\n" +
                        "\n" +
                        "                  </div>\n" +
                        "                </div>\n" +
                        "            </div>";
                    }
                }

            $("#orders").append(htmls);
        });
    }

    function getUnpaid() {
        $("#orders").html("<div class=\"order-body-content row\">\n" +
            "              <div class=\"col-sm-3\">产品</div>\n" +
            "              <div class=\"col-sm-2\">售价/成本</div>\n" +
            "              <div class=\"col-sm-2\">合计</div>\n" +
            "              <div class=\"col-sm-1\">状态</div>\n" +
            "              <div class=\"col-sm-3\">收件人</div>\n" +
            "              <div class=\"col-sm-1\">渠道</div>\n" +
            "            </div>\n");
        var url = "/api/get_all_orders";
        $.getJSON(url, function (data) {

            var htmls = "";
            for (var i = 0; i < data.orders.length; i ++) {
                var overallprice = 0;
                for (var y = 2; y < data.orders[i].length; y ++) {
                    var or = data.orders[i][y];
                    if (or.status !== "unpaid") {
                        continue;
                    }
                    overallprice += or.price;
                }
                for (var j = 2; j < data.orders[i].length; j ++) {
                    var orders = data.orders[i][j];
                    var name = orders.item;
                    var order_id = orders.order_id;
                    var order_time = orders.order_time;
                    var phone = orders.phone_number;
                    var price = orders.price;
                    var quantity = orders.quantity;
                    var address = orders.receiver_address;
                    var re_name = orders.receiver_name;

                    if (orders.status !== "unpaid") {
                        continue;
                    }

                    if (j === 2) {
                        htmls += "<div class=\"order-item\">\n" +
                        "                <div class=\"order-body-content row\" style=\"background-color: #f8f8f8\">\n" +
                        "                  <div class=\"col-sm-3\">\n" +
                        "                      <p>订单号：" + order_id +"</p>\n" +
                        "                      <p>交易号："+ order_id + "</p>\n" +
                        "                      <p>交易类型： 普通交易 </p>\n" +
                        "                  </div>\n" +
                        "                  <div class=\"col-sm-2\">\n" +
                        "\n" +
                        "                  </div>\n" +
                        "                  <div class=\"col-sm-2\">\n" +
                        "                      <a>"+ "$" + overallprice + "</a>\n" +
                        "                  </div>\n" +
                        "                  <div class=\"col-sm-1\">\n" +
                        "                      <div>" + "待付款" + "</div>\n" +
                        "                  </div>\n" +
                        "                  <div class=\"col-sm-3\">\n" +
                        "                      <p>下单时间：" + order_time + "</p>\n" +
                        "                  </div>\n" +
                        "                  <div class=\"col-sm-1\">\n" +
                        "\n" +
                        "                  </div>\n" +
                        "                </div>\n";
                    }

                    htmls+= "                <div class=\"order-body-content row\" >\n" +
                        "                  <div class=\"col-sm-1\">\n" +
                        "                    <img style=\"width:70px;height: 70px;\" src=\"/static/img/itemImg/" + name + "/main.jpg" +"\">\n" +
                        "                  </div>\n" +
                        "                  <div class=\"col-sm-2\">\n" +
                        "                    <a>" + name + "</a>\n<br>" + "<a>" + orders.item_price_type + "</a>" +
                        "                  </div>\n" +
                        "                  <div class=\"col-sm-2\">\n" +
                        "                    <p>" + "$" + price +"</p>\n" +
                        "                    <p>"+ quantity +" 件</p>\n" +
                        "                  </div>\n" +
                        "                  <div class=\"col-sm-2\">\n" +
                        "                    <p>价格： " + "$" + price + "</p>\n" +
                        "\n" +
                        "                  </div>\n" +
                        "                  <div class=\"col-sm-1\">\n" +
                        "                      <a> </a>\n" +
                        "                  </div>\n";
                    if (j === 2) {
                        htmls +="                  <div class=\"col-sm-3\">\n" +
                        "                      <img style=\"width: 40px; height: 40px;\" src=\"/static/img/pink.jpg\">\n" +
                        "                      <a>" + re_name +"</a> | <a>所有订单</a><br><br>\n" +
                        "                      <p>" + re_name + " " + phone + "</p>\n" +
                        "                      <p>" + address +"</p>\n" +
                        "                  </div>\n";
                    }
                    htmls += "                  <div class=\"col-sm-1\">\n" +
                        "\n" +
                        "                  </div>\n" +
                        "                </div>\n" +
                        "            </div>";
                }
            }

            $("#orders").append(htmls);
        });
    }


    function getUnsent() {
        $("#orders").html("<div class=\"order-body-content row\">\n" +
            "              <div class=\"col-sm-3\">产品</div>\n" +
            "              <div class=\"col-sm-2\">售价/成本</div>\n" +
            "              <div class=\"col-sm-2\">合计</div>\n" +
            "              <div class=\"col-sm-1\">状态</div>\n" +
            "              <div class=\"col-sm-3\">收件人</div>\n" +
            "              <div class=\"col-sm-1\">渠道</div>\n" +
            "            </div>\n");
        var url = "/api/get_all_orders";
        $.getJSON(url, function (data) {
            // console.log(data);
            // unsent
            var htmls = "";
            for (var i = 0; i < data.orders.length; i ++) {
                var overallprice = 0;
                for (var y = 2; y < data.orders[i].length; y ++) {
                    var or = data.orders[i][y];
                    if (or.status !== "unsent") {
                        continue;
                    }
                    overallprice += or.price;
                }
                for (var j = 2; j < data.orders[i].length; j ++) {
                    var orders = data.orders[i][j];
                    var name = orders.item;
                    var order_id = orders.order_id;
                    var order_time = orders.order_time;
                    var phone = orders.phone_number;
                    var price = orders.price;
                    var quantity = orders.quantity;
                    var address = orders.receiver_address;
                    var re_name = orders.receiver_name;

                    if (orders.status !== "unsent") {
                        continue;
                    }

                    if (j === 2) {
                        htmls += "<div class=\"order-item\">\n" +
                        "                <div class=\"order-body-content row\" style=\"background-color: #f8f8f8\">\n" +
                        "                  <div class=\"col-sm-3\">\n" +
                        "                      <p>订单号：" + order_id +"</p>\n" +
                        "                      <p>交易号："+ order_id + "</p>\n" +
                        "                      <p>交易类型： 普通交易 </p>\n" +
                        "                  </div>\n" +
                        "                  <div class=\"col-sm-2\">\n" +
                        "\n" +
                        "                  </div>\n" +
                        "                  <div class=\"col-sm-2\">\n" +
                        "                      <a>"+ "$" + overallprice + "</a>\n" +
                        "                  </div>\n" +
                        "                  <div class=\"col-sm-1\">\n" +
                                "                      <div>未发货</div>\n" +
                        "                      <button onclick = makeSent(" + order_id + ")" + ">" + "发货" + "</button>\n" +
                        "                  </div>\n" +
                        "                  <div class=\"col-sm-3\">\n" +
                        "                      <p>下单时间：" + order_time + "</p>\n" +
                        "                  </div>\n" +
                        "                  <div class=\"col-sm-1\">\n" +
                        "\n" +
                        "                  </div>\n" +
                        "                </div>\n";
                    }

                    htmls+= "                <div class=\"order-body-content row\" >\n" +
                        "                  <div class=\"col-sm-1\">\n" +
                        "                    <img style=\"width:70px;height: 70px;\" src=\"/static/img/itemImg/" + name + "/main.jpg" +"\">\n" +
                        "                  </div>\n" +
                        "                  <div class=\"col-sm-2\">\n" +
                        "                    <a>" + name + "</a>\n<br>" + "<a>" + orders.item_price_type + "</a>" +
                        "                  </div>\n" +
                        "                  <div class=\"col-sm-2\">\n" +
                        "                    <p>" + "$" + price +"</p>\n" +
                        "                    <p>"+ quantity +" 件</p>\n" +
                        "                  </div>\n" +
                        "                  <div class=\"col-sm-2\">\n" +
                        "                    <p>价格： " + "$" + price + "</p>\n" +
                        "\n" +
                        "                  </div>\n" +
                        "                  <div class=\"col-sm-1\">\n" +
                        "                      <a> </a>\n" +
                        "                  </div>\n";
                    if (j === 2) {
                        htmls +="                  <div class=\"col-sm-3\">\n" +
                        "                      <img style=\"width: 40px; height: 40px;\" src=\"/static/img/pink.jpg\">\n" +
                        "                      <a>" + re_name +"</a> | <a>所有订单</a><br><br>\n" +
                        "                      <p>" + re_name + " " + phone + "</p>\n" +
                        "                      <p>" + address +"</p>\n" +
                        "                  </div>\n";
                    }
                    htmls += "                  <div class=\"col-sm-1\">\n" +
                        "\n" +
                        "                  </div>\n" +
                        "                </div>\n" +
                        "            </div>";
                }
            }

            $("#orders").append(htmls);
        });
    }


    function getSent() {
        $("#orders").html("<div class=\"order-body-content row\">\n" +
            "              <div class=\"col-sm-3\">产品</div>\n" +
            "              <div class=\"col-sm-2\">售价/成本</div>\n" +
            "              <div class=\"col-sm-2\">合计</div>\n" +
            "              <div class=\"col-sm-1\">状态</div>\n" +
            "              <div class=\"col-sm-3\">收件人</div>\n" +
            "              <div class=\"col-sm-1\">渠道</div>\n" +
            "            </div>\n");
        var url = "/api/get_all_orders";
        $.getJSON(url, function (data) {
            // console.log(data);
            // sent
            var htmls = "";
            for (var i = 0; i < data.orders.length; i ++) {
                var overallprice = 0;
                for (var y = 2; y < data.orders[i].length; y ++) {
                    var or = data.orders[i][y];
                    if (or.status !== "sent") {
                        continue;
                    }
                    overallprice += or.price;
                }
                for (var j = 2; j < data.orders[i].length; j ++) {
                    var orders = data.orders[i][j];
                    var name = orders.item;
                    var order_id = orders.order_id;
                    var order_time = orders.order_time;
                    var phone = orders.phone_number;
                    var price = orders.price;
                    var quantity = orders.quantity;
                    var address = orders.receiver_address;
                    var re_name = orders.receiver_name;

                    if (orders.status !== "sent") {
                        continue;
                    }

                    if (j === 2) {
                        htmls += "<div class=\"order-item\">\n" +
                        "                <div class=\"order-body-content row\" style=\"background-color: #f8f8f8\">\n" +
                        "                  <div class=\"col-sm-3\">\n" +
                        "                      <p>订单号：" + order_id +"</p>\n" +
                        "                      <p>交易号："+ order_id + "</p>\n" +
                        "                      <p>交易类型： 普通交易 </p>\n" +
                        "                  </div>\n" +
                        "                  <div class=\"col-sm-2\">\n" +
                        "\n" +
                        "                  </div>\n" +
                        "                  <div class=\"col-sm-2\">\n" +
                        "                      <a>"+ "$" + overallprice + "</a>\n" +
                        "                  </div>\n" +
                        "                  <div class=\"col-sm-1\">\n" +
                        "                      <div>已发货</div>\n" +
                        "                  </div>\n" +
                        "                  <div class=\"col-sm-3\">\n" +
                        "                      <p>下单时间：" + order_time + "</p>\n" +
                        "                  </div>\n" +
                        "                  <div class=\"col-sm-1\">\n" +
                        "\n" +
                        "                  </div>\n" +
                        "                </div>\n";
                    }

                    htmls+= "                <div class=\"order-body-content row\" >\n" +
                        "                  <div class=\"col-sm-1\">\n" +
                        "                    <img style=\"width:70px;height: 70px;\" src=\"/static/img/itemImg/" + name + "/main.jpg" +"\">\n" +
                        "                  </div>\n" +
                        "                  <div class=\"col-sm-2\">\n" +
                        "                    <a>" + name + "</a>\n<br>" + "<a>" + orders.item_price_type + "</a>" +
                        "                  </div>\n" +
                        "                  <div class=\"col-sm-2\">\n" +
                        "                    <p>" + "$" + price +"</p>\n" +
                        "                    <p>"+ quantity +" 件</p>\n" +
                        "                  </div>\n" +
                        "                  <div class=\"col-sm-2\">\n" +
                        "                    <p>价格： " + "$" + price + "</p>\n" +
                        "\n" +
                        "                  </div>\n" +
                        "                  <div class=\"col-sm-1\">\n" +
                        "                      <a> </a>\n" +
                        "                  </div>\n";
                    if (j === 2) {
                        htmls +="                  <div class=\"col-sm-3\">\n" +
                        "                      <img style=\"width: 40px; height: 40px;\" src=\"/static/img/pink.jpg\">\n" +
                        "                      <a>" + re_name +"</a> | <a>所有订单</a><br><br>\n" +
                        "                      <p>" + re_name + " " + phone + "</p>\n" +
                        "                      <p>" + address +"</p>\n" +
                        "                  </div>\n";
                    }
                    htmls += "                  <div class=\"col-sm-1\">\n" +
                        "\n" +
                        "                  </div>\n" +
                        "                </div>\n" +
                        "            </div>";
                }
            }

            $("#orders").append(htmls);
        });
    }

    function getComment() {
        $("#orders").html("<div class=\"order-body-content row\">\n" +
            "              <div class=\"col-sm-3\">产品</div>\n" +
            "              <div class=\"col-sm-2\">售价/成本</div>\n" +
            "              <div class=\"col-sm-2\">合计</div>\n" +
            "              <div class=\"col-sm-1\">状态</div>\n" +
            "              <div class=\"col-sm-3\">收件人</div>\n" +
            "              <div class=\"col-sm-1\">渠道</div>\n" +
            "            </div>\n");
        var url = "/api/get_all_orders";
        $.getJSON(url, function (data) {
            // console.log(data);
            //closed
            var htmls = "";

            for (var i = 0; i < data.orders.length; i ++) {
                var overallprice = 0;
                for (var y = 2; y < data.orders[i].length; y++) {
                    var or = data.orders[i][y];
                    if (or.status !== "closed") {
                        continue;
                    }
                    overallprice += or.price;
                }
                for (var j = 2; j < data.orders[i].length; j++) {
                    var orders = data.orders[i][j];
                    var name = orders.item;
                    var order_id = orders.order_id;
                    var order_time = orders.order_time;
                    var phone = orders.phone_number;
                    var price = orders.price;
                    var quantity = orders.quantity;
                    var address = orders.receiver_address;
                    var re_name = orders.receiver_name;

                    if (orders.status !== "closed") {
                        continue;
                    }

                    if (j === 2) {
                        htmls += "<div class=\"order-item\">\n" +
                            "                <div class=\"order-body-content row\" style=\"background-color: #f8f8f8\">\n" +
                            "                  <div class=\"col-sm-3\">\n" +
                            "                      <p>订单号：" + order_id + "</p>\n" +
                            "                      <p>交易号：" + order_id + "</p>\n" +
                            "                      <p>交易类型： 普通交易 </p>\n" +
                            "                  </div>\n" +
                            "                  <div class=\"col-sm-2\">\n" +
                            "\n" +
                            "                  </div>\n" +
                            "                  <div class=\"col-sm-2\">\n" +
                            "                      <a>" + "$" + price + "</a>\n" +
                            "                  </div>\n" +
                            "                  <div class=\"col-sm-1\">\n" +
                            "                      <div>已评论</div>\n" +
                            "                  </div>\n" +
                            "                  <div class=\"col-sm-3\">\n" +
                            "                      <p>下单时间：" + order_time + "</p>\n" +
                            "                  </div>\n" +
                            "                  <div class=\"col-sm-1\">\n" +
                            "\n" +
                            "                  </div>\n" +
                                "                </div>\n";
                    }

                    htmls+= "                <div class=\"order-body-content row\" >\n" +
                        "                  <div class=\"col-sm-1\">\n" +
                        "                    <img style=\"width:70px;height: 70px;\" src=\"/static/img/itemImg/" + name + "/main.jpg" +"\">\n" +
                        "                  </div>\n" +
                        "                  <div class=\"col-sm-2\">\n" +
                        "                    <a>" + name + "</a>\n<br>" + "<a>" + orders.item_price_type + "</a>" +
                        "                  </div>\n" +
                        "                  <div class=\"col-sm-2\">\n" +
                        "                    <p>" + "$" + price +"</p>\n" +
                        "                    <p>"+ quantity +" 件</p>\n" +
                        "                  </div>\n" +
                        "                  <div class=\"col-sm-2\">\n" +
                        "                    <p>价格： " + "$" + price + "</p>\n" +
                        "<p>星级：" + data.orders[i][0] + "/5" + "</p>" +
                        "<p>评论：" + data.orders[i][1] + "</p>" +
                        "                  </div>\n";
                    if (j === 2) {
                        htmls +="                  <div class=\"col-sm-3\">\n" +
                        "                      <img style=\"width: 40px; height: 40px;\" src=\"/static/img/pink.jpg\">\n" +
                        "                      <a>" + re_name +"</a> | <a>所有订单</a><br><br>\n" +
                        "                      <p>" + re_name + " " + phone + "</p>\n" +
                        "                      <p>" + address +"</p>\n" +
                        "                  </div>\n";
                    }
                    htmls += "                  <div class=\"col-sm-1\">\n" +
                        "\n" +
                        "                  </div>\n" +
                        "                </div>\n" +
                        "            </div>";
                }
            }
            $("#orders").append(htmls);
        });
    }

    // 发货
    function makeSent(order_id) {
        var url = '/api/make_delivery/' + order_id;
            $.getJSON(url,function (data) {
               if (data.message === "success") {
                   alert('发货成功');
                   getUnsent();
               }
            });
    }


    function toggleSideBar() {
        if (document.getElementById("mySidenav").style.width == "200px") {
            closeNav();
        } else {
            openNav()
        }
    }

    function openNav() {
        document.getElementById("mySidenav").style.width = "200px";
        document.getElementById("main").style.marginLeft = "200px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";

    }

    function toggleOrderSubTabs() {
        if (document.getElementById("subOrder1").style.display == "none") {
            document.getElementById("subOrder1").style.display = "block";
            document.getElementById("subOrder2").style.display = "block";
            document.getElementById("subOrder3").style.display = "block";

        } else {
            document.getElementById("subOrder1").style.display = "none";
            document.getElementById("subOrder2").style.display = "none";
            document.getElementById("subOrder3").style.display = "none";
        }
    }
</script>

</body>
