<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>所有订单</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css?v=1asdf22adkjnkkanvijpjqjsasowqsf790">
    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"> -->
    <link href="/static/fontawesome-pro-5.8.1-web/css/all.css" rel="stylesheet">
    <!--load all styles -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>

<!-- top bar -->
<nav class="navbar justify-content-between" style="background-color: coral">
    <a class="navbar-brand cartTitle" href="{{ url_for("user") }}"> <i class="far fa-chevron-left"></i> </a>
    <p class="cartTitle"> 所有订单 </p>
</nav>

<div class="container" style="padding-bottom: 20%;">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active fiveTabs"><a data-toggle="tab" href="#tab1">待付款</a></li>
            <li class="active fiveTabs"><a data-toggle="tab" href="#tab2">待发货</a></li>
            <li class="fiveTabs"><a data-toggle="tab" href="#tab3">待收货</a></li>
            <li class="fiveTabs"><a data-toggle="tab" href="#tab4">待评价</a></li>
            <li class="fiveTabs"><a data-toggle="tab" href="#tab5">退款中</a></li>

        </ul>

        <div class="tab-content">
            <div id="tab1" class="tab-pane fade in active">
                <div class="container" style="padding: 0; padding-bottom: 20%; margin: 0;">
                    <div class="container-fluid" id="unpiad">

                        <div class="card cartCard" style="margin-top: 2%;">
                            <div class="row orderTitleWrap">
                                <span style="float: left;">
                                    <p style="color: #333333;" class="card-text"> 订单号：skdafjoiajweonf134ukefno9q28h3orihji</p>
                                </span>
                                <span style=" float: right; ">
                                    <p class="card-text" style="color: coral"> 买家已付款 </p>
                                </span>
                            </div>
                            <div class="row card-horizontal">
                                <img class="cartImage" src="http://via.placeholder.com/300x300" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">爱他美白金版婴幼儿奶粉4段 900g</h4>
                                    <p class="card-text"> 规格： 三罐 包邮</p>
                                    <h2 style="color: coral; font-size: 40px; margin-top: 15%"> $105 </h2>
                                </div>
                            </div>
                            <div class="row card-horizontal">
                                <img class="cartImage" src="http://via.placeholder.com/300x300" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">爱他美白金版婴幼儿奶粉4段 900g</h4>
                                    <p class="card-text"> 规格： 三罐 包邮</p>
                                    <h2 style="color: coral; font-size: 40px; margin-top: 15%"> $105 </h2>
                                </div>
                            </div>
                            <div class="row card-horizontal">
                                <img class="cartImage" src="http://via.placeholder.com/300x300" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">爱他美白金版婴幼儿奶粉4段 900g</h4>
                                    <p class="card-text"> 规格： 三罐 包邮</p>
                                    <h2 style="color: coral; font-size: 40px; margin-top: 15%"> $105 </h2>
                                </div>
                            </div>
                            <div class="row orderTitleWrap" style=" text-align: right;">
                                    <p>共3件商品 合计：$315</p>
                                    <button class="borderBotton">提醒发货</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div id="tab2" class="tab-pane fade">
                <div class="container" style="padding: 0; padding-bottom: 20%; margin: 0;">
                    <div class="container-fluid" id="unsent">

                    </div>
                </div>
            </div>

            <div id="tab3" class="tab-pane fade">
                <div class="container" style="padding: 0; padding-bottom: 20%; margin: 0;">
                    <div class="container-fluid" id="unreceived">

                    </div>
                </div>
            </div>

            <div id="tab4" class="tab-pane fade">
                <div class="container" style="padding: 0; padding-bottom: 20%; margin: 0;">
                    <div class="container-fluid" id="uncommit">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- bottom bar -->
    <nav class="navbar navbar-default navbar-fixed-bottom" style="background-color: white" role="navigation" >
        <div class="container-fluid">
            <ul class="nav navbar-nav localBottom">
                <li class="active"><i onclick="toHome()" class="fal fa-home" ></i></li>
                <li>               <i onclick="toChat()" class="fal fa-comment-dots"></i></li>
                <li>               <i onclick="toCart()" class="fal fa-shopping-cart"></i></li>
                <li>               <i onclick="toUser()" class="fal fa-user"> </i></li>
            </ul>
        </div>
    </nav>

    <script>
        unpiad();
        function unpiad() {
            var url = '/api/get_order/' + "{{ current_user.phone_number }}" + "/" + "unpaid";
            $.getJSON(url, function (data) {
                for (var i = 0; i < data.orders.length; i ++) {
                    console.log(data.orders[i]);
                }

                var html = "";

                for (i  = 0; i < data.orders.length; i ++) {
                    var orders = data.orders[i];
                    html += "<div class=\"card cartCard\" style=\"margin-top: 2%;\">";
                    html += "<div class=\"row orderTitleWrap\">\n" +
                        "                                <span style=\"float: left;\">\n" +
                        "                                    <p style=\"color: #333333;\" class=\"card-text\">";
                    html += orders.order_id + "</p>\n" +
                        "                                </span>\n" +
                        "                                <span style=\" float: right; \">\n" +
                        "                                    <p class=\"card-text\" style=\"color: coral\">";
                    html += "代付款" + "</p>\n" +
                        "                                </span>\n" +
                        "                            </div>";

                    html += "<div class=\"row card-horizontal\">";
                    html +="<img class=\"cartImage\" alt=\"Card image cap\" src=\"/static/img/itemImg/" + orders.item + "/main.jpg" +"\">\n";
                    html += "<div class=\"card-body\">\n" +
                        "                                    <h4 class=\"card-title\">";
                    html += orders.item;
                    html += "</h4>\n" +
                        "                                    <p class=\"card-text\"> 规格：" + orders.item_price_type;

                    html += "</p>\n" +
                        "                                    <h2 style=\"color: coral; font-size: 40px; margin-top: 15%\"> " + orders.price;

                }

                html += ""
            });
        }
        // getOrders();
        function getOrders() {
            var url = "/api/get_order/" + "{{ current_user.phone_number }}";
            $.getJSON(url, function (data) {
                console.log(data);
                var htmls = "";
                for (var i = 0; i < data.orders.length; i ++) {
                    var orders = data.orders[i];

                    var name = orders.item;
                    var order_id = orders.order_id;
                    var order_time = orders.order_time;
                    var phone = orders.phone_number;
                    var price = orders.price;
                    var quantity = orders.quantity;
                    var address = orders.receiver_address;
                    var re_name = orders.receiver_name;

                    htmls += "                        <div class=\"row card cartCard\">\n" +
                        "                            <div class=\"card-horizontal\">\n" +
                        "                                <img class=\"cartImage\" src=\"/static/img/itemImg/" + name + "/main.jpg" +"\">\n" +
                        "                                <div class=\"card-body\">\n" +
                        "                                    <h4 class=\"card-title\">" + name +"</h4>\n" +
                        "                                    <p class=\"card-text\"> 规格： "+ orders.item_price_type +"</p>\n" +
                        "                                    <h2 style=\"color: coral; font-size: 40px; margin-top: 15%\"> $105 </h2>\n" +
                        "\n" +
                        "                                </div>\n" +
                        "                            </div>\n" +
                        "                        </div>"
                }
                $("#wait_orders").append(htmls);
                //$("#waiting_back").append(htmls);
                //$("#waiting_commit").append(htmls);
                //$("#waiting_orders").append(htmls);
            });
        }
        function toHome() {
                url = "/";
                window.location.assign(url);
        }

        function toChat() {
                url = "/chat";
                window.location.assign(url);
        }

        function toCart() {
                url = "/cart";
                window.location.assign(url);
        }

        function toUser() {
                url = "/user";
                window.location.assign(url);
        }
    </script>

</body>
</html>