<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css?v=1asdf22aiasdkjnkkaejflanvijpjoiasdfowqsf790">
    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"> -->
    <link href="/static/fontawesome-pro-5.8.1-web/css/all.css" rel="stylesheet"> <!--load all styles -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<!-- top bar -->
<nav class="navbar justify-content-between">
    <p style="color: coral; font-weight: bolder;" class="cartTitle"> 小传奇 </p>
</nav>

<div style="text-align: center; height:230px; margin-top: 15%; margin-bottom: 30%;">
    <img src="/static/img/LOGO-01.png"
         style="width: 460px; height: 460px; position: absolute; left:0; right:0; margin-left: auto; margin-right: auto;">
    <h1 style="color: coral; font-size: 80px;"> 最后一步啦，</h1>
    <h1 style="color: coral; font-size: 80px;"> 海量海淘精彩等着你！</h1>

</div>

<div>

        <div style="margin: 3% 8% 10% 8%; border-bottom: #555555 1px solid;">
            <input id="password" name="password" type="password" style="padding-left: 1%; margin-bottom: 1%; text-align: left; background-color: transparent;  width: 69%; border: none; border-radius: 0;  font-size: 50px; " placeholder="设置一个密码吧" >
        </div>

        <div style="margin: 3% 8% 30% 8%; border-bottom: #555555 1px solid;">
            <input id="nickname" name="nickname" style="padding-left: 1%; margin-bottom: 1%; text-align: left; background-color: transparent;  width: 69%; border: none; border-radius: 0;  font-size: 50px; " placeholder="起一个昵称吧" >
        </div>



        <div style="margin: 0 8%">

            <button onclick="toHome()" type="submit" style="width: 100%; margin: 3% 0 0 0; padding: 2% 1%;font-size: 50px; background-color: coral; color:white; ">
                开启商城
            </button>

        </div>
</div>

<script>
    function toHome() {
        if ($("#password").val().length < 8 ) {
            alert("The password length should more than 8");
            return;
        } else {
            var p = $("#password").val();
            if (!p.match(/\d+/)) {
                alert("The password should contain number");
                return;
            }

            if (p.match(/[a-z]/) === null && p.match(/[A-Z]/) === null) {
                alert("The password should contain char");
                return;
            }
        }
        $.ajax({
                type: 'post',
                url:  "/api/login/update_info",
                data: { "phone_number": "{{ phone_number }}",
                        "password" : document.getElementById("password").value,
                        "nickname": document.getElementById("nickname").value
                },
                timeout: 5000
        });

        url = "/";
        window.location.assign(url);
    }
</script>