<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>物流信息</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css?v=1asdf22aiasdkjnkkaejflanvijpjoiasdfowqsf790">
    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"> -->
    <link href="/static/fontawesome-pro-5.8.1-web/css/all.css" rel="stylesheet"> <!--load all styles -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<!-- top bar -->


<nav class="navbar justify-content-between" style="background-color: white; color:black; border-bottom: black 2px solid;">
    <a onclick="toHome()" class="navbar-brand cartTitle"> <i style="color: black" class="fal fa-chevron-left"></i>
    </a>
    <p style="color: black; font-weight: bolder;" class="cartTitle"> 小传奇商城 </p>
</nav>
<div style=" margin-top:-5px; padding: 5% 10%; border:none; background-color: white; background-size: 100% 100%;">
    <div style="padding: 5%; background-color: white;" >
        <div style="width: 100%; height: 150px;  text-align: center; border-bottom: #989898 2px dashed;">
            <h2 style="font-size:40px; width: 100%; text-align: center; color: #555555"> 订单：{{ order_id }}</h2>
            <h2 style="font-size:40px; width: 100%; text-align: center; color: #555555" id="d_id"></h2>
        </div>
        <div style="padding: 10% 5%;" id="history">
            <!--
            <div class="row" >
                <div class="col-sm-2">
                    <img style="width: 100px;" src="../static/img/tracking_dot.png">
                </div>
                <div class="col-sm-9">
                    <p class="card-text" >【北京转运中心】已收入</p>
                    <p class="card-text" >15/Sep/2019 23:21:26</p>
                </div>
            </div>
            <div class="row" >
                <div class="col-sm-2">
                    <img style="width: 100px;" src="../static/img/tracking_dot.png">
                </div>
                <div class="col-sm-9">
                    <p class="card-text" >【揭阳市转运中心】已发出，下一站【北京转运中心】</p>
                    <p class="card-text" >15/Sep/2019 23:21:26</p>

                </div>
            </div>
            <div class="row" >
                <div class="col-sm-2">
                    <img style="width: 100px;" src="../static/img/tracking_dot.png">
                </div>
                <div class="col-sm-9">
                    <p class="card-text" >【揭阳市转运中心】已收入</p>
                    <p class="card-text" >15/Sep/2019 23:21:26</p>
                </div>
            </div>
            <div class="row" >
                <div class="col-sm-2">
                    <img style="width: 100px;" src="../static/img/tracking_dot.png">
                </div>
                <div class="col-sm-9">
                    <p class="card-text" >【广东省揭阳市普宁西公司】已打包</p>
                    <p class="card-text" >15/Sep/2019 23:21:26</p>
                </div>
            </div>
            <div class="row" >
                <div class="col-sm-2">
                    <img style="width: 100px;" src="../static/img/tracking_dot.png">
                </div>
                <div class="col-sm-9">
                    <p class="card-text" >【广东省揭阳市普宁西公司】已收件</p>
                    <p class="card-text" >15/Sep/2019 23:21:26</p>

                </div>
            </div>
            -->
        </div>
    </div>
</div>

<script>

    /**
     * Get the history according to id
     */
    function get_history() {
        let order_id = {{ order_id }};
        let url = '/api/delivery_history/' + order_id;
        $.getJSON(url, function (data) {
            data = JSON.parse(data.res);
            let history = data.back;
            let delivery_id = history.fydh;
            $("#d_id").html("物流单号：" + delivery_id);

            var tracks = jQuery.makeArray(history.Logisticsback);
            var content = "";
            for (var i = 0; i < tracks.length; i ++) {
                let info = tracks[i];
                content += "<div class=\"row\" >\n" +
                    "                <div class=\"col-sm-2\">\n" +
                    "                    <img style=\"width: 100px;\" src=\"../static/img/tracking_dot.png\">\n" +
                    "                </div>\n" +
                    "                <div class=\"col-sm-9\">\n" +
                    "                    <p class=\"card-text\" >" + info.ztai + "</p>\n" +
                    "                    <p class=\"card-text\" >" + info.time +  "</p>\n" +
                    "                </div>\n" +
                    "            </div>"
            }

            $("#history").html(content);

        });
    }

    get_history();

    function toHome() {
        url = "/orders/tab3";
        window.location.assign(url);
    }
</script>



</body>
</html>
