<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户中心</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"> -->
    <link href="/static/fontawesome-pro-5.8.1-web/css/all.css" rel="stylesheet"> <!--load all styles -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>


<!-- top bar -->

<nav class="navbar justify-content-inbetween" style="background-color: coral; top:0; width: 100%; position: relative; padding: 2% 3%; padding-bottom: 15%; ">
        <a class="navbar-brand "> <img src="/static/img/yellow.png" style="width: 150px; height: 150px;"></i> </a>
        <p class="userGreeting"> {{ user.nick_name }} </p>
        <div style=" width: 100%;text-align: right;margin-bottom: 5%;">
                <i style="font-size: 80px;  color: white" onclick="logout()" class="far fa-sign-out"></i>

        </div>
        <p class="userLevel" style="margin-top: 2%;"> 会员等级：   1级   &nbsp;&nbsp; 剩余积分：50 </p>





</nav>

<div style="padding-bottom: 20%;">
<!-- order circles -->
<div class="container" style="display: inline-block; padding: 5% 15px;  background-color: white">
    <div class="fiveButton" onclick="toCart()">
        <i class="fal fa-credit-card"  style="width: 100%; margin: 5% 0; font-size: 40px;"></i>
        <p> 待付款 </p>
    </div>

    <div class="fiveButton" onclick="toOrders()">
        <i class="fal fa-box"  style="width: 100%; margin: 5% 0; font-size: 40px;"></i>
        <p> 待发货 </p>
    </div>

    <div class="fiveButton" onclick="toOrders()">
        <i class="fal fa-truck"  style="width: 100%; margin: 5% 0; font-size: 40px;"></i>
        <p> 待收货 </p>
    </div>

    <div class="fiveButton" onclick="toOrders()">
        <i class="fal fa-comment-alt-lines"  style="width: 100%; margin: 5% 0; font-size: 40px;"></i>
        <p> 待评价 </p>
    </div>

    <div class="fiveButton" onclick="toOrders()">
        <i class="fal fa-hands-usd"  style="width: 100%; margin: 5% 0; font-size: 40px;"></i>
        <p> 售后/退款 </p>
    </div>
</div>

<!-- other circles -->
<div class="container" style="display: inline-block; padding: 5% 15px; margin-top: 3%; background-color: white">
    <div class="divButton">
        <i class="far fa-users-cog"  style="width: 100%; margin: 5% 0; font-size: 50px"></i>
        <p> 个人资料 </p>
    </div>

    <div class="divButton">
        <i class="far fa-map-marker-alt"  style="width: 100%; margin: 5% 0; font-size: 50px" onclick="goToAddress()"></i>
        <p> 收货地址 </p>
    </div>

    <div class="divButton">
        <i class="far fa-qrcode"  style="width: 100%; margin: 5% 0; font-size: 50px"></i>
        <p> 推广二维码 </p>
    </div>

    <div class="divButton" onclick="toCart()">
        <i class="far fa-heart-circle"  style="width: 100%; margin: 5% 0; font-size: 50px"></i>
        <p> 我的清单 </p>
    </div>

</div>

</div>



<!-- bottom bar -->
<nav class="navbar navbar-default navbar-fixed-bottom" style="background-color: white" role="navigation" >
	<div class="container-fluid">
        <ul class="nav navbar-nav localBottom">
            <li class="active"><i onclick="toHome()" class="fal fa-home" ></i></li>
            <li>               <i onclick="toChat()" class="fal fa-comment-dots"></i></li>
            <li>               <i onclick="toCart()" class="fal fa-shopping-cart"></i></li>
            <li>               <i onclick="toUser()" class="fal fa-user"> </i></li>
        </ul>
	</div>
</nav>
<script>
    function toHome() {
            url = "/";
            window.location.assign(url);
    }

    function toChat() {
            url = "/chat";
            window.location.assign(url);
    }

    function toCart() {
            url = "/cart";
            window.location.assign(url);
    }

    function toOrders() {
            url = "/orders";
            window.location.assign(url);
    }

    function toUser() {
            url = "/user";
            window.location.assign(url);
    }
    function logout() {
            url = "/logout";
            window.location.assign(url);
    }

    function goToAddress() {
        window.location.assign("/user/address/controller/");
    }
</script>

</body>
</html>