<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Expires" content="-1">

    <title>购物商城</title>

    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/webStyle.css?v=1asdf22aiasdkjnklanvijpjoiasdfowqsf790">
    <link href="/static/fontawesome-pro-5.8.1-web/css/all.css" rel="stylesheet"> <!--load all styles -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/static/js/main.js?v=q9euaffddaxcfasdfh"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


</head>
<body>

<div class="firstBlock">
    <img class="logo" src="/static/img/logo.png">
    <div class="searchBundle">
        <input id="searchInput" class="searchInput" placeholder="爱他美奶粉二段" {% if keyword %} value={{ keyword }} {% endif %}>
        <i onclick="searchAnother()" class="far fa-search searchIcon"></i>
    </div>
    <script>
        function searchAnother() {
            url = "/webSearch/"+document.getElementById("searchInput").value;
            window.location.assign(url);
        }
    </script>
    <script>
    $(function() {
    var availableTags;
    var url = "/api/search/all_item_names";
    $.getJSON(url, function (data){
    availableTags = data;
    $( "#searchInput" ).autocomplete({
      source: availableTags
    });
    });
    })
    </script>
    <div class="cartBundle">
        <i class="fal fa-shopping-cart homeCartIcon"></i>
        <p class="loginText"> 购物车 </p>
    </div>
    <div class="loginBundle">
        <img src="/static/img/loginIocn.png" class="loginIcon">
        <div class="loginTextBundle">
            <div style="float: left; text-align: left"><a class="loginText">登录</a> / <a class="loginText">免费注册</a></div>
            <a class="loginText" style="float: left; margin-top: 2%;">新用户领取金币</a>
        </div>
    </div>

</div>

<div id="cardsWrap">

</div>



<script>

function search() {
    function addItemNode(item_data) {
        var cardwrapper = document.createElement("div");
        cardwrapper.className += " card itemCard";
        cardwrapper.onclick = function goToItem(){
            url = "/item/"+item_data.id;
            window.location.assign(url);
        };

        var cardImage = document.createElement("img");
        cardImage.src="/static/img/milk1.jpg";
        cardImage.src="/static/img/itemImg/"+ item_data.name +"/main.jpg"
        cardImage.className += "card-img-top";
        var cardBody = document.createElement("div");
        cardBody.className += "card-body";
        var cardTitle = document.createElement("p");
        cardTitle.className += "card-text";
        cardTitle.innerText = item_data.name;
        var cardPrice = document.createElement("h2");
        cardPrice.innerText = "$"+item_data.display_price;
        cardPrice.className += "card-text-price";
        cardId = document.createElement("p");
        cardId.display = "hidden";
        cardId.value = item_data.id;

        cardBody.appendChild(cardTitle);
        cardBody.appendChild(cardPrice);
        cardBody.appendChild(cardId);
        cardwrapper.appendChild(cardImage);
        cardwrapper.appendChild(cardBody);
        document.getElementById("cardsWrap").appendChild(cardwrapper);
    }
    var items;
    var url = "/api/search/keyword/"+document.getElementById("searchInput").value;
    $.getJSON(url, function (data){
        items = data;
        var i = 0;
        for(i=0; i< items.length; i++){
            addItemNode(items[i]);
        }
    });
}
search();


</script>

</body>
</html>